<div>
  <label>Name</label>
  <input type="text" name="title" value="<%= issue.title %>">    
</div>

<div>
 <label>Category</label>
<select name="category">
<% categories.forEach( function(category) { %>
  <% if (issue.id == issue.category) { %>
  <option selected label="<%= category.name %>" value="<%= category.id %>">
  <%= category.name %>
  </option>
  <% } else { %>
  <option label="<%= category.name %>" value="<%= category.id %>">
  <%= category. name %>
  </option>
  <% } %>
<% }) %>
</select> 
</div>

<div>
  <label>Image</label>
  <input type="file" name="image">    
</div>

<div>
  <label>Issue Description</label> 
  <textarea name="issue-description" value="<%= issue.issueDescription %>"></textarea>    
</div>



      