<h2><%= issue.title  %></h2>
<img width="150" height="100" src="<%= issue.imagePath %>" alt="">
<div>Category: <%= issue.category.name %></div>
<div>Issue created: <%= issue.createdAt.toDateString() %></div>
<div>Description: <%= issue.description %></div>
<div>Solution: <%= issue.solution %></div>
<a href="/issues/<%= issue.id %>/edit">Edit</a>